*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
    font-family: sans-serif;
}
.container{
    width: 100%;
    margin: 0 auto;
}
#navbar{
    background-color: blue;
    display: flex;
    align-items: center;
}
.logo>img{
    width: 40%;
    padding: 10px;
}
.navmenu{
    display: flex;
}
.navmenu a{
    display: block;
    font-weight: 600;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.navmenu a:hover{
    background-color: darkblue;
}
button{
    background-color: white;
    color: blue;
    margin: 5px 50px 5px 35px;
    padding: 5px 30px;
}
button:hover{
    background-color: darkblue;
    color: white;
}


/* make dropdown link position relative */
.drop1{
    position: relative;
}
/* first dropdown */
.list1{
    display: none;
    position: absolute;
    background-color: blue;
}
.drop1:hover{
    background-color: darkblue;
}
.drop1:hover .list1{
    display: block;
}
/* second dropdown */
.list2{
    position: absolute;
    display: none;
    background-color: blue;
    top: 103px;
    left: 113px;
}
.drop2:hover .list2{
    display: block;
}
.list1 a{
    font-size: 13px;
    background-color: blue;
}