/* add some styling to time border with relative */
#time {
    background: rgb(39, 39, 39) !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 65px !important;
    position: relative;
    border: none;
    border-radius: 10px;
    background: white;
}

/* use of ::after and given linearGradient border to time named div  */
#time::after {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    /* background: linear-gradient(to bottom right, lightgreen 0%, teal 25%, yellow 50%, deeppink 100%); */
    background: linear-gradient(to bottom right, teal 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    content: '';
    z-index: -1;
    border-radius: 10px;
}

/* for text we have to give same rainbow color so i use span tag and inserted linearGradient to text also */
span{
    /* background: linear-gradient(to bottom right, lightgreen 0%, teal 25%, yellow 50%, deeppink 100%); */
    background-image: linear-gradient(to bottom right, teal 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    -webkit-background-clip: text;
    color: transparent;
}